body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

form {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: dimgray;
    text-align: center;
}

h2{
    color: dimgray;
    text-decoration: underline;
}

blockquote {
    font-style: italic;
}